@charset "UTF-8";
@font-face {
  font-family: "Colleged";
  src: url(../fonts/Colleged.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #868686;
  color: #666;
  background: url(../img/startPic.png) no-repeat center/cover;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.startseite {
  width: 250px;
  font-family: "Colleged";
  font-size: 2.5rem;
  text-align: center;
}
.startseite h1 {
  font-size: 2.5rem;
}
.startseite a {
  color: #000;
  text-decoration: none;
}
.startseite a:hover {
  color: #fff;
}

.rightBox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 220px;
  color: #000;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #333;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #222;
}

.score {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  font-family: "Colleged";
  background: #DEDEDE;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  border: 8px double;
  border-radius: 8px;
  z-index: 1;
}

.playerScore, .computerScore {
  text-align: center;
  margin-top: 1rem;
}

.p-count, .c-count {
  text-align: center;
  color: #333;
  font-size: clamp(1rem, 3.5vw, 3rem);
  margin-top: 1rem;
}

.result {
  text-align: center;
  width: 50%;
  margin: 5% auto;
}
.result img {
  width: 30%;
  padding: 0 2%;
}

.desk {
  width: 60%;
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #333;
  background: #a9a9a9;
  z-index: 10;
}

.options {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2% 1%;
  margin: 1% auto 0.5% auto;
  width: 90%;
  background: #a9a9a9;
  z-index: 10;
}

.Schere, .Stein, .Papier, .Echse, .Spock {
  position: absolute;
  background: #a9a9a9;
  width: 18%;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 10;
}

.Schere:hover, .Stein:hover, .Papier:hover, .Echse:hover, .Spock:hover {
  position: absolute;
  width: 19%;
  transition: all 0.3s linear;
  z-index: 11;
}

.move {
  margin: 2% 0;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: bold;
  text-align: center;
}

.movesleft {
  color: #FFF;
}

.restart {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  background: #6dca6d;
  font-weight: bold;
  outline: none;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #333;
  padding: 1rem 2rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.restart:hover {
  transform: translate(3px, 3px);
  transition: all 0.3s linear;
  box-shadow: 0px 0px 6px #222;
  background: #62b962;
}

.acc {
  width: 260px;
  position: absolute;
  top: 0px;
  z-index: 4;
}

.acc .choice {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-areas: "name action" "panel panel";
}

.acc label:nth-child(odd) {
  grid-area: name;
}

.acc label:nth-child(even) {
  grid-area: action;
}

.acc .panel {
  grid-area: panel;
}

.acc input[name=ac] {
  display: none;
}

.acc .panel {
  margin: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(230, 210, 207, 0.6);
  color: #000;
  line-height: 1.5;
  padding: 0 2rem 0 2rem;
  box-sizing: border-box;
  transition: 0.5s;
}

.acc .panel p {
  margin-top: 0;
}

.acc input.open:checked ~ .panel {
  height: auto;
  padding: 2rem;
  transition: 0.5s;
}

.acc label {
  cursor: pointer;
  background-color: #000;
  padding: 0 0rem;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  box-sizing: border-box;
  z-index: 100;
  color: white;
}

li {
  list-style-type: square;
}

#spre {
  padding: 0.5rem 0 0.3rem 2rem;
}

.acc input.open:checked ~ label {
  background-color: #e6421a;
  border-radius: 0;
}

.acc label:nth-child(odd)::after {
  content: "+";
  color: white;
  float: right;
  font-size: 1rem;
  margin-top: 0;
}

.acc input.open:checked ~ label:nth-child(odd)::after {
  content: "";
}

.acc input.open:checked ~ label.close::after {
  content: "–";
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */