@charset "UTF-8";
@font-face {
  font-family: "Colleged";
  src: url(../fonts/Colleged.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #868686;
  color: #666;
  background: url(../img/startPic.png) no-repeat center/cover;
}

main {
  overflow: hidden;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.startseite {
  width: 250px;
  font-family: "Colleged";
  font-size: 4rem;
  text-align: center;
}
.startseite h1 {
  font-size: 2rem;
}
.startseite h1 span {
  font-size: 3rem;
}
.startseite h1 a {
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
  transition: all 0.5s linear;
}
.startseite h1 a:hover {
  color: rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  transition: all 0.5s linear;
  text-shadow: 0px 0px 6px #fff;
}
.startseite h1 a:hover span {
  font-size: 4rem;
}

.rightBox {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 240px;
  color: #000;
  font-weight: bold;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #333;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #222;
}
.rightBox td {
  padding-right: 1rem;
}

.roundBox {
  position: absolute;
  top: 21%;
  left: 5%;
  width: 200px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 0.8rem 1rem 0.7rem 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px solid #333;
  border-radius: 6px;
  z-index: 0;
}

.movesleft {
  font-family: "Colleged";
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.score {
  position: absolute;
  top: 3%;
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  font-family: "Colleged";
  background: #DEDEDE;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  border: 8px double;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #666;
  z-index: 1;
}

.playerScore, .computerScore {
  text-align: center;
  margin-top: 1rem;
}

.p-count, .c-count {
  text-align: center;
  color: #333;
  font-size: clamp(1rem, 3.5vw, 3rem);
  margin-top: 1rem;
}

.result {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-family: "Colleged";
  font-size: 6.5rem;
  width: 30%;
  margin: 10% auto 20% auto;
}
.result .human {
  width: 50%;
  padding: 0 2%;
  -webkit-animation-name: leftCenter;
          animation-name: leftCenter;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.result .cpu {
  width: 50%;
  padding: 0 2%;
  -webkit-animation-name: rightCenter;
          animation-name: rightCenter;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.result img:nth-of-type(2) {
  width: 20%;
  padding: 0 1% 1rem 1%;
  -webkit-animation-name: centerCenter;
          animation-name: centerCenter;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@-webkit-keyframes leftCenter {
  0% {
    transform: translate(-600px, 500px) rotate(-90deg) scale(0);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}
@keyframes leftCenter {
  0% {
    transform: translate(-600px, 500px) rotate(-90deg) scale(0);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}
@-webkit-keyframes rightCenter {
  0% {
    transform: translate(600px, -500px) rotate(-90deg) scale(0);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}
@keyframes rightCenter {
  0% {
    transform: translate(600px, -500px) rotate(-90deg) scale(0);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}
@-webkit-keyframes centerCenter {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(0);
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg) scale(1);
  }
}
@keyframes centerCenter {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(0);
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg) scale(1);
  }
}

.desk {
  position: absolute;
  bottom: 2.5rem;
  width: 70%;
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #333;
  background: #a9a9a9;
}

.options {
  padding: 0% 1% 0% 3%;
  margin: 1% auto 1% auto;
  width: 90%;
  background: #a9a9a9;
}

.Schere, .Stein, .Papier, .Echse, .Spock {
  position: relative;
  background: #a9a9a9;
  width: 17%;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2% 1% 0 1%;
  padding: 0 1rem;
  transition: all 0.5s linear;
}

.Schere:hover, .Stein:hover, .Papier:hover, .Echse:hover, .Spock:hover {
  margin: 0 0.5% 0 0.5%;
  width: 18%;
  transition: all 0.3s linear;
  z-index: 15;
}

.move {
  margin: 2% 0;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: bold;
  text-align: center;
  background: #f00;
}

.restart {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  background: rgb(109, 202, 109);
  font-weight: bold;
  outline: none;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #333;
  padding: 1rem 2rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.restart:hover {
  transform: translate(3px, 3px);
  transition: all 0.3s linear;
  box-shadow: 0px 0px 6px #222;
  background: rgb(98, 185, 98);
}

.acc {
  width: 260px;
  position: absolute;
  top: 0px;
  z-index: 4;
}

.acc .choice {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-areas: "name action" "panel panel";
}

.acc label:nth-child(odd) {
  grid-area: name;
}

.acc label:nth-child(even) {
  grid-area: action;
}

.acc .panel {
  grid-area: panel;
}

.acc input[name=ac] {
  display: none;
}

.acc .panel {
  margin: 0;
  height: 0;
  overflow: hidden;
  background-color: rgba(230, 210, 207, 0.6);
  color: #000;
  line-height: 1.5;
  padding: 0 2rem 0 2rem;
  box-sizing: border-box;
  transition: 0.5s;
}

.acc .panel p {
  margin-top: 0;
}

.acc input.open:checked ~ .panel {
  height: auto;
  padding: 2rem;
  transition: 0.5s;
}

.acc label {
  cursor: pointer;
  background-color: #000;
  padding: 0 0rem;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  box-sizing: border-box;
  z-index: 100;
  color: white;
}

li {
  list-style-type: square;
}

#spre {
  padding: 0.5rem 0 0.3rem 2rem;
}

.acc input.open:checked ~ label {
  background-color: hsl(12deg, 80%, 50%);
  border-radius: 0;
}

.acc label:nth-child(odd)::after {
  content: "+";
  color: white;
  float: right;
  font-size: 1.4rem;
  margin-top: -4px;
}

.acc input.open:checked ~ label:nth-child(odd)::after {
  content: "";
}

.acc input.open:checked ~ label.close::after {
  content: "–";
  font-size: 1.5rem;
}

.footer-left {
  position: absolute;
  bottom: 2px;
  left: 6px;
  color: rgb(179, 0, 0);
}
.footer-left img {
  width: 10%;
}

.footer-right {
  position: absolute;
  bottom: 2px;
  right: 6px;
  color: rgb(179, 0, 0);
}/*# sourceMappingURL=main.css.map */