@import "_general.scss";
@import "_variables.scss";
@import "_mixin.scss";



.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

// header {
//     top:0px;
// 	text-align: center;
// 	font-size: 4rem;
// 	z-index: 2;

//     img{
//         width: 100%;
//     }
// }

img{
    width: 100%;
}
.rightBox {
    position: absolute;
    top:10px;
    right: 10px;
    width: 200px;
    color: #fff;
    padding: 1rem 2rem;
}
.score{
	display: flex;
	width: 40%;
	justify-content: space-evenly;
    font-family: 'Colleged';
    background: #DEDEDE;
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    border: 8px double;
    border-radius: 8px;
	z-index: 1;
}

.playerScore, .computerScore{
	text-align: center;
	margin-top: 1rem;
    
}

.p-count, .c-count{
	text-align: center;
    color: #333;
	font-size: clamp(1rem, 3.5vw, 3rem); 
	margin-top: 1rem;
}
.result{
    text-align: center;
    width: 50%;
    margin: 5% auto;
    img{
        width: 30%;
    }
}

.desk {
    width: 60%;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #333;
    background: #a9a9a9;
}
.options{
	display: flex;
	justify-content: space-between;
	margin: 2% auto 1% auto;
    width: 80%;
    background: #a9a9a9;
    
}

.Schere, .Stein, .Papier, .Echse, .Spock{
    background: #a9a9a9;
	width: 18%;
	outline: none;
	border: none;
	cursor: pointer;
    padding: 0 1rem;
}

.move{
    margin: 2% 0;
	font-size: clamp(1rem, 2.5vw, 2rem); 
	font-weight: bold;
    text-align: center;
}


.restart {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: rgb(109, 202, 109);
	outline: none;
	border: none;
	border-radius: 10px;
    padding: 1rem 2rem;
	cursor: pointer;
}


